#mostrar {
    border: 1px solid #47b6ff;
    float:left;
    height:500px;
    padding:10px;
    width:560px;
}
 
#subir{
  width: 500px; 
  margin: left; 
  border: 1px solid #47b6ff; 
  padding: 100px
}